---
layout: page
permalink: /work
---

<div class="content-wrapper">
    {% for category in site.data.categories %}
        <div class="category-wrapper">
            <a href="{{category.href}}">
                <div class="category-content-wrapper">
                {% for num in (1..category.titlePlace) %}
                    <div class="thumbnail" style="order: {{num}}">
                        <img src="/assets/images/portraits/portrait_{{num}}.jpg" />
                    </div>
                {% endfor %}
                    <div class="thumbnail category-title" style="order: {{category.titlePlace}}">
                        <h3>{{category.title}}</h3>
                    </div>
                {% for num in (category.titlePlace..9) offset:2 %}
                    <div class="thumbnail" style="order: {{num}}">
                        <img src="/assets/images/portraits/portrait_{{num}}.jpg" />
                    </div>
                {% endfor %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
