.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 90%;
	margin: 0 auto;

	@media (max-width: 767px) {
		margin: 0px 10px;
		padding-top: 10px;
		align-items: flex-start;
		height: 75px;

		.brand {
			margin: 0;

			h2.brand-text {
				margin: 0;
			}
		}

		.nav-menu {
			display: none;
		}
	}
}

.navigation .brand {
	margin-right: auto;
	display: flex;
	flex-direction: row;

	.social-media-icons {
		list-style: none;
		margin: 0;
		margin-left: 15px;
		margin-bottom: 0px;
		padding: 0;
		display: flex;
		align-self: center;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-end;

		@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			margin-bottom: 10px;
		}

		@media (max-width: 767px) {
			display: none;
		}

		a {
			margin: 0px 10px;
			height: 100%;
			display: flex;
			align-items: flex-end;
			color: #424242;

			li {
				height: 20px;
				width: 20px;

				.fa {
					font-size: 1.3em;

					@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						font-size: 2em;
					}
				}
			}
		}
	}

	h2.brand-text {
		color: #424242;
		font-weight: 300;
		font-size: 1.5em;
		text-transform: uppercase;

		@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			font-size: 2.2em;
		}

		a {
			text-decoration: none;
			color: #424242;
		}
	}

	@media (max-width: 767px) {
		h2.brand-text {
			margin-top: 1px;
			font-size: 1.5em;
		}
	}
}

.navigation .nav {
	margin-left: auto;

	.mobile-menu {
		display: none;
	}

	@media (max-width: 767px) {
		#mobile-menu {
			z-index: 500;
			width: 35px;
			height: 20px;
			position: relative;
			margin: 6px auto;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			cursor: pointer;
		}

		#mobile-menu span {
			z-index: 1000;
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: #424242;
			border-radius: 1px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.25s ease-in-out;
			-moz-transition: 0.25s ease-in-out;
			-o-transition: 0.25s ease-in-out;
			transition: 0.25s ease-in-out;
		}

		#mobile-menu.open span {
			background: #f7f7f7;
		}

		#mobile-menu span:nth-child(1) {
			top: 0px;
		}

		#mobile-menu span:nth-child(2),
		#mobile-menu span:nth-child(3) {
			top: 9px;
		}

		#mobile-menu span:nth-child(4) {
			top: 18px;
		}

		#mobile-menu.open span:nth-child(1) {
			top: 11px;
			width: 0%;
			left: 50%;
		}

		#mobile-menu.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		#mobile-menu.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		#mobile-menu.open span:nth-child(4) {
			top: 18px;
			width: 0%;
			left: 50%;
		}
	}

	.fa {
		font-size: 30px;
		font-weight: 300;
	}
}

.navigation .nav .nav-menu {
	text-decoration: none;
	list-style: none;
	margin: 0;
	padding: 0;

	font-size: 1.4em;

	@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		font-size: 2em;
	}

	li {
		display: inline-block;
		margin: 0px 25px;

		&.active {
			text-decoration: underline;
		}

		a {
			text-decoration: none;
			color: #424242;
			text-transform: lowercase;
		}
	}

	@media (max-width: 767px) {
		display: none;

		&.open {
			z-index: 10;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			background-color: rgba(0, 0, 0, 0.7);

			li {
				margin: 10% 0;
				font-size: 1.2em;
				font-size: 300;

				a {
					color: #f7f7f7;
				}
			}
		}
	}
}
